autogluon.common @ git+https://github.com/autogluon/autogluon@7f12d1660ae4061f86a705f8c9b6b2ba83d310d5#subdirectory=common
autogluon.core @ git+https://github.com/autogluon/autogluon@7f12d1660ae4061f86a705f8c9b6b2ba83d310d5#subdirectory=core
autogluon.features @ git+https://github.com/autogluon/autogluon@7f12d1660ae4061f86a705f8c9b6b2ba83d310d5#subdirectory=features
autogluon.tabular @ git+https://github.com/autogluon/autogluon@7f12d1660ae4061f86a705f8c9b6b2ba83d310d5#subdirectory=tabular
boto3==1.39.11
botocore==1.39.11
catboost==1.2.8
certifi==2025.7.14
cfgv==3.4.0
charset-normalizer==3.4.2
cloudpickle==3.1.1
colour==0.1.5
contourpy==1.3.0
cycler==0.12.1
distlib==0.4.0
einops==0.8.1
exceptiongroup==1.3.0
execnet==2.1.1
filelock==3.18.0
fonttools==4.59.0
fsspec==2025.7.0
future==1.0.0
graphviz==0.21
hf-xet==1.1.5
huggingface-hub==0.33.4
hyperopt==0.2.7
identify==2.6.12
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
kiwisolver==1.4.7
lightgbm==4.6.0
llvmlite==0.43.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mpmath==1.3.0
mypy==1.17.0
mypy_extensions==1.1.0
narwhals==1.48.0
networkx==3.2.1
nodeenv==1.9.1
numba==0.60.0
numpy==2.0.2
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
plotly==6.2.0
pluggy==1.6.0
pre_commit==4.2.0
psutil==7.0.0
py4j==0.10.9.9
pyarrow==20.0.0
Pygments==2.19.2
pyparsing==3.2.3
pytest==8.4.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
ruff==0.12.4
s3transfer==0.13.1
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
shap==0.48.0
shapiq==1.2.1
six==1.17.0
slicer==0.0.8
sympy==1.14.0
tabpfn==2.1.0
-e git+https://github.com/PriorLabs/tabpfn-extensions@dbe885299959da46295b33b64502113d8b3b56cb#egg=tabpfn_extensions
threadpoolctl==3.6.0
tomli==2.2.1
torch==2.7.1
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==1.26.20
virtualenv==20.32.0
zipp==3.23.0
