name: In pull request
on:
  pull_request:
    branches:
      - main
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_python_linting:
    name: Ruff Linting & Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          src: "./src ./tests"
          version-file: pyproject.toml
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          src: "./src ./tests"
          version-file: pyproject.toml
          args: "format --check"

  test_compatibility:
    name: Test Package Compatibility
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: "3.9"
            dependency-set: lowest-direct
          - os: macos-15-intel # We need x86 as ARM is  python>= 3.11 only.
            # https://github.com/actions/setup-python/issues/855
            python-version: "3.9"
            dependency-set: lowest-direct
          - os: windows-latest
            python-version: "3.9"
            dependency-set: lowest-direct
          - os: ubuntu-latest
            python-version: "3.13"
            dependency-set: highest
          - os: macos-latest
            python-version: "3.13"
            dependency-set: highest
          - os: windows-latest
            python-version: "3.13"
            dependency-set: highest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: true

      - name: Check tabpfn availability
        id: check_tabpfn_availability
        run: |
          output=$(python scripts/is_tabpfn_min_version_on_pypi.py)
          echo "$output"
          use_github=$(echo "$output" | grep "USE_GITHUB=" | cut -d'=' -f2)
          echo "use_github=$use_github" >> $GITHUB_OUTPUT

      - name: Install tabpfn from GitHub (if not on PyPI)
        if: steps.check_tabpfn_availability.outputs.use_github == 'true'
        run: |
          uv venv -p ${{ matrix.python-version }}
          uv pip install git+https://github.com/PriorLabs/tabpfn.git@main

      - name: Install dependencies
        run: uv sync --group ci --all-extras --resolution ${{ matrix.dependency-set }}

      - name: Run Tests
        env:
          TABPFN_EXCLUDE_DEVICES: "mps"
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          FAST_TEST_MODE: 1
        run: uv run --no-sync pytest tests/
