name: In pull request
on:
  pull_request:
    branches:
      - main
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_python_linting:
    name: Ruff Linting & Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          src: "./src ./tests"
          version-file: pyproject.toml
      - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1
        with:
          src: "./src ./tests"
          version-file: pyproject.toml
          args: "format --check"

  test_compatibility:
    name: Test Package Compatibility
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: "3.9"
            dependency-set: minimum
          - os: macos-15-intel # We need x86 as ARM is  python>= 3.11 only.
            # https://github.com/actions/setup-python/issues/855
            python-version: "3.9"
            dependency-set: minimum
          - os: windows-latest
            python-version: "3.9"
            dependency-set: minimum
          - os: ubuntu-latest
            python-version: "3.13"
            dependency-set: maximum
          - os: macos-latest
            python-version: "3.13"
            dependency-set: maximum
          - os: windows-latest
            python-version: "3.13"
            dependency-set: maximum
    runs-on: ${{ matrix.os }}

    env:
      TABPFN_MODEL_CACHE_DIR: ${{ github.workspace }}/model_cache

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true

      - name: Generate requirements file
        run: python scripts/generate_dependencies.py ${{ matrix.dependency-set }}

      - name: Install dependencies
        run: |
          uv pip install --system ".[all]"
          # onnx is required for onnx export tests
          uv pip install --system -r requirements.txt
          uv pip install --system pytest psutil
          # we don't install all dev dependencies here for speed
          uv pip install --system setuptools
          # licensecheck is required for license checking
          uv pip install --system licensecheck
          # onnx is not supported on python 3.13 yet https://github.com/onnx/onnx/issues/6339
          if [[ "${{ matrix.python-version }}" != "3.13" ]]; then
            uv pip install --system onnx
          fi
        shell: bash

      - name: Restore model cache
        id: restore-model-cache
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ github.workspace }}/model_cache
          # This cache read will always fail as the model_cache directory is empty.
          key: model-cache-${{ hashFiles('model_cache/**') }}
          restore-keys: |
            model-cache-
          enableCrossOsArchive: true

      # Download all models fails, if there is a missing model that can't be downloaded.
      - name: Download models from Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python scripts/download_all_models.py

      - name: Check for forbidden licenses
        if: runner.os == 'MacOS' && matrix.python-version == '3.9'
        run: |
          licensecheck \
            --requirements-paths pyproject.toml \
            --only-licenses APACHE MIT BSD ISC PYTHON UNLICENSE UNKNOWN \
            --ignore-packages certifi "tabpfn*" \
            --show-only-failing \
            -0

      - name: Run Tests (Unix)
        if: runner.os != 'Windows'
        env:
          TABPFN_EXCLUDE_DEVICES: mps
        run: |
          FAST_TEST_MODE=1 pytest tests/

      - name: Run Tests (Windows)
        if: runner.os == 'Windows'
        run: |
          $env:FAST_TEST_MODE = 1
          pytest tests/

      - name: Save model cache
        if: github.ref == 'refs/heads/main'
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ github.workspace }}/model_cache
          key: model-cache-${{ hashFiles('model_cache/**') }}
          enableCrossOsArchive: true
